

#masterTabPane {
    
}

#masterTabPane > .tab-header-area > * > .tab > * {
    -fx-rotate: 90;
    -fx-padding: -50;
    -fx-min-width: 120;
    -fx-max-width: 120;
}

#masterTabPane > .tab-header-area > * > .tab > * > .label {
    -fx-min-width: 120;
    -fx-max-width: 120;
    -fx-min-height: 120;
    -fx-max-height: 120;
}

#masterTabPane > .tab-header-area {
    -fx-min-width: 100px;
}